body{background-color:black;}
body > *{font-family: 'Teko', sans-serif;}
a{text-decoration:none;}
section.videoFin ul li iframe{width:100%;}
/*All Using*/

@media screen and (min-width:340px) and (max-width:399px){
    header{border-bottom:2px solid #61fb37; width:100%; padding:20px 0 10px 0; box-sizing:border-box;
                 background-color:black; z-index:10;}
    header:after{content:''; visibility:hidden; display:block; clear:both}
    header h1{width:20%; float:left; margin-left:40%;}
    header h1 a{display:block; text-align:center;}
    header h1 a img{width:100%;}
    header nav{width:100%; position:fixed; z-index:100;}
    header nav ul{width:100%;}
    header nav ul li:after{content:''; visibility:hidden; display:block; clear:both;}
    header nav ul li{width:20%; text-align:center; float:left;}
    header nav ul li a{color:white; font-size:20px; display:block;}
    header nav ul li a:hover{color:#61fb37;}
    header nav ul li a.active{color:#61fb37;}
    header nav .mui{display:block; margin-left:auto; width:30%;}
    header nav label.mui{padding:3px 3px 0 3px; width:25px; cursor:pointer;}
    header nav label.mui span{border-top:3px solid #61fb37; display:block; margin-bottom:3px;}
    header nav label.mui + input[type='checkbox']#mnav{display:none;}
    header nav label.mui + input[type='checkbox']#mnav:checked + ul{height:20px; padding-top:20px;}
    header nav ul{height:0; overflow:hidden; transition-duration:2s;}
    header + figure{background:url(../images/bg_01.png) no-repeat center center; background-size:cover; margin-bottom:50px;}
    header + figure figcaption{font-size:60px; color:white; width:40%; font-weight:500; padding:165px 0; transform:skew(-20deg, 0deg); word-spacing:50px; line-height:65px;}
    header + figure figcaption:first-letter{color:#61fb37;}
    header + figure figcaption span{color:#61fb37; padding-left:20%;}
    header + figure figcaption  span{padding-left:25%;}
    header + figure figcaption  span:first-letter{color:white;}
    header + figure > span{display:none;}
    /*header Fin*/

    footer{width:100%; color:white;}
    footer:after{content:''; visibility:hidden; display:block; clear:both;}
    footer p{float:left; width:70%; font-size:20px; font-weight:300; text-align:center; padding-left:28%; box-sizing:border-box;}
    /*Footer Fin*/
}

@media screen and (min-width:400px) and (max-width:769px){
    header{border-bottom:2px solid #61fb37; width:100%; padding:20px 0 10px 0; box-sizing:border-box;
                 background-color:black; z-index:10; }
    header:after{content:''; visibility:hidden; display:block; clear:both}
    header h1{width:20%; float:left; margin-left:40%;}
    header h1 a{display:block; text-align:center;}
    header h1 a img{width:100%;}
    header nav{width:100%; position:fixed; z-index:100;}
    header nav ul{width:100%;}
    header nav ul li:after{content:''; visibility:hidden; display:block; clear:both;}
    header nav ul li{width:20%; text-align:center; float:left;}
    header nav ul li a{color:white; font-size:20px; display:block;}
    header nav ul li a:hover{color:#61fb37;}
    header nav .mui{display:block; margin-left:auto; width:30%;}
    header nav label.mui{padding:3px 3px 0 3px; width:25px; cursor:pointer;}
    header nav label.mui span{border-top:3px solid #61fb37; display:block; margin-bottom:3px;}
    header nav label.mui + input[type='checkbox']#mnav{display:none;}
    header nav label.mui + input[type='checkbox']#mnav:checked + ul{height:20px; padding-top:30px;}
    header nav ul{height:0; overflow:hidden; transition-duration:2s;}
    header + figure{background:url(../images/bg_01.png) no-repeat center center; background-size:cover; margin-bottom:50px;}
    header + figure figcaption{font-size:70px; color:white; width:40%; font-weight:500; padding:165px 0; transform:skew(-20deg, 0deg); word-spacing:50px; line-height:65px;}
    header + figure figcaption:first-letter{color:#61fb37;}
    header + figure figcaption span{color:#61fb37; padding-left:20%;}
    header + figure figcaption  span{padding-left:25%;}
    header + figure figcaption  span:first-letter{color:white;}
    header + figure > span{display:none;}
    /*header Fin*/

    footer{width:100%; color:white;}
    footer:after{content:''; visibility:hidden; display:block; clear:both;}
    footer p{float:left; width:70%; font-size:20px; font-weight:300; text-align:center; padding-left:28%; box-sizing:border-box;}
    /*Footer Fin*/
}
/*mobile*/

@media screen and (min-width:770px) and (max-width:1279px){
    header{border-bottom:2px solid #61fb37; width:100%; padding:20px 0 10px 0; box-sizing:border-box; background-color:black; z-index:10;}
    header h1{width:20%; float:left; text-align:center; margin-right:10%;}
    header h1 a{display:block;}
    header h1 a img{max-width:65%;}
    header:after{content:''; visibility:hidden; display:block; clear:both}
    header nav .mui{display:none;}
    header nav ul:after{content:''; visibility:hidden; display:block; clear:both;}
    header nav{width:70%; margin:1% 0 0 30%; position:fixed; z-index:100;}
    header nav ul{width:100%;}
    header nav ul li{float:left; width:12%; margin-left:3.5%; text-align:center;}
    header nav ul li:first-child{margin-left:0;}
    header nav ul li a{color:white; font-size:30px; display:block;}
    header nav ul li a:hover{color:#61fb37;}
    header nav ul li a.active{color:#61fb37;}
    header + figure{background:url(../images/bg_01.png) no-repeat center center; background-size:cover; margin-bottom:100px;}
    header + figure figcaption{font-size:100px; color:white; width:40%; font-weight:900; padding:270px 10%; transform:skew(-20deg, 0deg); word-spacing:50px; line-height:100px;}
    header + figure figcaption:first-letter{color:#61fb37;}
    header + figure figcaption span{color:#61fb37; padding-left:20%;}
    header + figure figcaption  span{padding-left:15%;}
    header + figure figcaption  span:first-letter{color:white;}
    header + figure > span{display:none;}
    /*header Fin*/

    footer{width:100%; color:white;}
    footer:after{content:''; visibility:hidden; display:block; clear:both;}
    footer p{float:left; width:70%; font-size:20px; font-weight:300; text-align:center; padding-left:28%; box-sizing:border-box;}
    /*Footer Fin*/
}
/*tablet*/

@media screen and (min-width: 1280px){
    header{border-bottom:2px solid #61fb37; width:100%; padding:14px 0; box-sizing:border-box; background-color:black; z-index:10;}
    header h1{text-align:center; margin-bottom:20px;}
    header h1 a{display:block;}
    header h1 a img{max-width:10%;}
    header nav{width:100%; position:fixed; z-index:100;}
    header nav .mui{display:none;}
    header nav ul:after{content:''; visibility:hidden; display:block; clear:both;}
    header nav ul{margin:0 auto; width:60%; padding-left:15%;}
    header nav ul li{float:left; width:12%; margin-left:4.5%;}
    header nav ul li:first-child{margin-left:0;}
    header nav ul li a{text-align:center; color:white; font-size:35px; display:block;}
    header nav ul li a:hover{color:#61fb37;}
    header + figure{background:url(../images/bg_01.png); background-size:cover; background-repeat:no-repeat; background-position:center;}
    header + figure figcaption{font-size:150px; color:white; width:40%; font-weight:900; padding:180px 10%; transform:skew(-20deg, 0deg); word-spacing:50px;}
    header + figure figcaption:first-letter{color:#61fb37;}
    header + figure figcaption span{color:#61fb37; padding-left:15%;}
    header + figure figcaption  span{padding-left:15%;}
    header + figure figcaption  span:first-letter{color:white;}

    /*header Fin*/

    footer{width:100%; color:white;}
    footer:after{content:''; visibility:hidden; display:block; clear:both;}
    footer p{float:left; width:70%; font-size:20px; font-weight:300; text-align:center; padding-left:28%; box-sizing:border-box;}
    /*Footer Fin*/
}
/*PC*/