.slideArea .bx-wrapper .bx-caption{position:absolute; left:15%; top:20%; background-color:transparent; font-size:120px;}

.btn a, .newAutoControl
{background-color:greenyellow; border-radius:10px; padding:10px; display:inline-block; text-decoration:none; color:#043b00; font-size:12px;}

.newAutoControl .bx-controls-auto-item{display:inline-block;}

.thumbPager{list-style:none; width:30%; margin:0 auto;}
.thumbPager:after{content:''; visibility:hidden; display:block; clear:both;}
.thumbPager li{float:left; width:25%;}
.thumbPager li img{width:100%;}